In [3]:
import pandas as pd

In [4]:
df = pd.read_pickle("covid_sample-0.0001.pkl")

In [5]:
df

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
29075,1440152419048955908,1389342585823584263,josephc14074803,Tue Sep 21 03:14:28 +0000 2021,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"A Grateful Dead Head, Not a head that's dead. ...",NaN,NaN,NaN
17272,1347878795554918403,440160509,Iela_Strika,Sat Jan 09 12:12:01 +0000 2021,en,Malaysia--Pahang--Kuantan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38446,1271326636760162304,1022641129655742467,YngShvy,Fri Jun 12 06:21:04 +0000 2020,en,Outerspace,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16418,1279673408905756672,260230964,jennycoady10,Sun Jul 05 07:08:10 +0000 2020,en,"London, England",135989ad972a5d9d,https://api.twitter.com/1.1/geo/id/135989ad972...,city,Bromley,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN
53175,1342267014686109701,281225798,certezamente,Fri Dec 25 00:32:49 +0000 2020,en,Portugal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Portugal,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47554,1453744714730012677,19994423,dfarquha,Thu Oct 28 15:25:23 +0000 2021,en,"Denver, CO",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,Director of Government Affairs at NEHA. Adjunc...,NaN,NaN,NaN
10511,1221572642257481729,1109532876310302721,donkamion78,Sun Jan 26 23:16:28 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161110,1477836631067566081,1285057167884722178,bIuesundae,Mon Jan 03 02:58:04 +0000 2022,en,21 white usa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,how can i make this about shinee? she/her,NaN,NaN,531.0
11663,1496954995488419850,3320990612,JThomasOfficial,Thu Feb 24 21:07:37 +0000 2022,en,AZ,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,This is the official twitter for actor/filmmak...,#OAKLANDFIGHTCLUB #RootedinOakland #Dubnation ...,NaN,2380.0
9549,1338380381398175746,1333862034933428230,idrisdemirsoy,Mon Dec 14 07:08:43 +0000 2020,en,Tallahassee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [35]:
df_main = pd.read_pickle("covid_sample-0.001.pkl")
df_main

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
15605,1220641644367765504,747463650881970176,gareth_grier,Fri Jan 24 09:37:01 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16910,1220640235358281729,937270922234363905,Rose_ifnt,Fri Jan 24 09:31:25 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,Switzerland,NaN,NaN,NaN,Switzerland,NaN,NaN,NaN,NaN,NaN
8796,1220632931489574913,3869545214,SinoVoices,Fri Jan 24 09:02:23 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14795,1220642433127436288,1053953342,_KhairiHassan,Fri Jan 24 09:40:09 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4225,1220640550178762753,1104714610421190656,Gaz60656269,Fri Jan 24 09:32:40 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90900,1482664673854038016,508859323,laudemare,Sun Jan 16 10:42:59 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Compte officiel. Chaque dimanche à 18h en excl...,NaN,3608.0
22201,1482656524245909507,1390529577760530433,Justbob111,Sun Jan 16 10:10:36 +0000 2022,en,Great Britain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,"ex trawlerman, ex forces, now C&I engineer \n\...",NaN,NaN,254.0
81791,1482663571716775936,1464936163123281923,falcon2800,Sun Jan 16 10:38:36 +0000 2022,pt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hmm…🤔,NaN,"ɱσ∂εℓ\n∂เεɦαɾ∂ ƒαɳσƒ_\nรɦαɦɾµҡɦҡɦαɳ ,\nҡเαɾα α...",48.0
88826,1482664418727145473,798161712,KevinSalvat,Sun Jan 16 10:41:58 +0000 2022,en,Surrey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,Cofounder of @joinlincoln + new co. alum: grow...,NaN,3422.0
102639,1482666092438953995,1327585064541106177,claveledith1,Sun Jan 16 10:48:37 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,« Dans la vie on ne fait pas ce que l’on veut ...,NaN,NaN,427.0

In [36]:
df_main.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [54]:
# df_subset = df_main[df_main["lang"] == "en"]
df_subset = df_main[(df_main["place_country"] == "United States") | (df_main["place_country"] == "Estados Unidos") | (df_main["place_country_code"] == "US") | (df_main["rt_country"] == "United States") | (df_main["country"] == "United States") | (df_main["qtd_country"] == "United States")]
df_subset[["userid", "text", "tweetid", "rt_tweetid", "tweet_type", "rt_userid", "lang"]]

,userid,text,tweetid,rt_tweetid,tweet_type,rt_userid,lang
9342,3553388062,RT @CDC_HIVAIDS: Both #STD screening and treat...,1220632932018262017,1.217895e+18,retweeted_tweet_without_comment,1.484775e+08,en
54959,56569304,#Senator Calls For Immediate Shut Down of All ...,1223102841528541185,NaN,original,NaN,en
1395,1712910955,RT @SenWarren: Approximately 3000 Americans di...,1223096612731289600,1.222884e+18,retweeted_tweet_without_comment,9.702073e+08,en
54982,1421839530,RT @Southcom: #SOUTHCOM's Adm. Craig Faller #S...,1223102815351894018,1.222890e+18,retweeted_tweet_without_comment,1.966777e+07,en
35073,25927619,RT @thehill: Russia closes Far East border wit...,1223101627659194369,1.222879e+18,retweeted_tweet_without_comment,1.917731e+06,en
...,...,...,...,...,...,...,...
69745,717267003241725952,RT @veetstweets77: @emmabrice3 @alcharalambous...,1482662171850903552,1.482522e+18,retweeted_tweet_without_comment,3.409607e+09,en
44684,44390115,RT @VincentRK: Omicron who? South Korea conti...,1482659228045262848,1.481822e+18,retweeted_tweet_without_comment,2.426192e+07,en
85519,1466769539090288653,RT @USAlight3: Star prosecutor who campaigned ...,1482664018661752835,1.482658e+18,retweeted_tweet_without_comment,1.338603e+18,en
54971,880459409217904640,RT @jsolomonReports: Breaking: Tennis star Djo...,1482660450672119808,1.482647e+18,retweeted_tweet_without_comment,5.232480e+08,en
111771,528462234,RT @alcharalambous: Don’t tell me omicron is m...,1482667204831334401,1.482405e+18,retweeted_tweet_without_comment,1.946036e+07,en

In [55]:
df_subset["tweet_type"].unique()

array(['retweeted_tweet_without_comment', 'original', 'reply',
       'quoted_tweet'], dtype=object)

In [56]:
df_subset["rt_tweetid"].unique()

array([1.21789455e+18,            nan, 1.22288414e+18, ...,
       1.48252166e+18, 1.48265780e+18, 1.48264717e+18])

In [57]:
df_subset

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
9342,1220632932018262017,3553388062,faryus88,Fri Jan 24 09:02:23 +0000 2020,en,"Dar es Salaam, Tanzania",NaN,NaN,NaN,NaN,...,United States,NaN,NaN,Tanzania,United States,NaN,NaN,NaN,NaN,NaN
54959,1223102841528541185,56569304,mlw975,Fri Jan 31 04:36:56 +0000 2020,en,"Robinson, TX",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
1395,1223096612731289600,1712910955,YDMAwomen,Fri Jan 31 04:12:11 +0000 2020,en,Massachusetts,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
54982,1223102815351894018,1421839530,iranbilbao,Fri Jan 31 04:36:49 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United States,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN
35073,1223101627659194369,25927619,makoto_au_japon,Fri Jan 31 04:32:06 +0000 2020,en,#Genève #Geneva 🇨🇭 or #Japan,NaN,NaN,NaN,NaN,...,United States,NaN,NaN,Switzerland,United States,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69745,1482662171850903552,717267003241725952,Corbie25,Sun Jan 16 10:33:02 +0000 2022,en,"California, USA",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,"BLM, LGBTQ+, Christian, and Feminist. Unions y...",Pretty boring TBH....,NaN,2112.0
44684,1482659228045262848,44390115,DrMartiMcAuley,Sun Jan 16 10:21:21 +0000 2022,en,Northern Ireland,NaN,NaN,NaN,NaN,...,United States,NaN,NaN,United Kingdom,United States,NaN,"wife, mum, PhD, debt, housing, inequality rese...","Editor, Blood Cancer Journal; Professor, Mayo ...",NaN,4609.0
85519,1482664018661752835,1466769539090288653,Matthew15556471,Sun Jan 16 10:40:23 +0000 2022,en,"Michigan, USA",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,A vaccinated with booster American that loves ...,@KimMangone @funder @OccupyDemocrats @RepSwalw...,NaN,43.0
54971,1482660450672119808,880459409217904640,tia2000_tia,Sun Jan 16 10:26:12 +0000 2022,en,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,#MAGA and #KeepAmericaGreat!!!\n#DrainTheSwamp...,John Solomon is an award-winning investigative...,NaN,1661.0
111771,1482667204831334401,528462234,papascoobfl,Sun Jan 16 10:53:02 +0000 2022,en,"Bradenton, FL",NaN,NaN,NaN,NaN,...,Canada,NaN,NaN,United States,Canada,NaN,NaN,"proud mum, geek, juggling a career and motherh...",NaN,3590.0

In [46]:
df_main["place_country_code"].unique()

array([nan, 'US', 'GB', 'CN', 'PH', 'AE', 'CA', 'ET', 'AU', 'DE', 'JP',
       'IN', 'TH', 'ES', 'ZA', 'HK', 'UG', 'KE', 'PK', 'BD', 'IE', 'AR',
       'FR', 'NG', 'NZ', 'MX', 'ID', 'DO', 'JM', 'FJ', 'MY', 'CO', 'KR',
       'SA', 'NP', 'SE', 'MW', 'BR', 'QA', 'OM', 'NO', 'BE', 'IT', 'GH',
       'KW', 'UY', 'LC', 'IQ', 'ZW', 'BW', 'PT', 'MV', 'AT', 'SL', 'LV',
       'LA', 'SG', 'IL', 'PA', 'NI', 'TR', 'LU', 'TW', 'EC', 'LK', 'BS',
       'BG', 'TT', 'VE', 'SH', 'CZ', 'NL', 'PY', 'FI', 'TZ', 'VN', 'GR',
       'SY', 'CH', 'GT', 'RU', 'HR', 'BH', 'PE', 'GI', 'MC', 'GM', 'CL',
       'YE', 'GF', 'CR', 'VG', 'CV', 'MD', 'VC', 'UA', 'HU', 'SV', 'CG',
       'AF', 'IR', 'LY', 'MM', 'CU', 'BB', 'IM', 'EG', 'ZM', 'CY', 'DZ',
       'DK', 'LS', 'HN', 'BM', 'JO', 'PL', 'MT', 'PG', 'TC', 'BT', 'LB',
       'AL', 'MA', 'XK', 'TN', 'GY', 'TL', 'MZ', 'VI', 'LR', 'CM', 'GP',
       'MN', 'RO', 'KY', 'GG', 'IS', 'KH', 'RW', 'SO', 'MU', 'RS', 'LT',
       'KZ', 'AZ', 'MQ', 'ML', 'DJ', 'CD', 'SN', 'CF', 'KM', 'SR', 'SI',
       'CI', 'BA', 'AG'], dtype=object)

In [53]:
df_main[df_main["tweet_type"].str.contains("retweet")][["userid", "text", "place_country", "place_country_code", "tweetid", "rt_tweetid", "tweet_type", "rt_userid", "lang", "rt_country"]]

,userid,text,place_country,place_country_code,tweetid,rt_tweetid,tweet_type,rt_userid,lang,rt_country
16910,937270922234363905,RT @WHO: Q: What is a #coronavirus? A: Corona...,NaN,NaN,1220640235358281729,1.218230e+18,retweeted_tweet_without_comment,1.449983e+07,en,Switzerland
8796,3869545214,"RT @cnni: ""With the Wuhan coronavirus spreadin...",NaN,NaN,1220632931489574913,1.220630e+18,retweeted_tweet_without_comment,2.097571e+06,en,NaN
14795,1053953342,RT @siwuol_: rt to save life #coronavirus http...,NaN,NaN,1220642433127436288,1.220260e+18,retweeted_tweet_without_comment,1.195223e+18,en,NaN
4225,1104714610421190656,RT @people_paul: #uk #brexit #maga #Trump2020L...,NaN,NaN,1220640550178762753,1.220481e+18,retweeted_tweet_without_comment,2.805234e+09,en,United Kingdom
9342,3553388062,RT @CDC_HIVAIDS: Both #STD screening and treat...,NaN,NaN,1220632932018262017,1.217895e+18,retweeted_tweet_without_comment,1.484775e+08,en,United States
...,...,...,...,...,...,...,...,...,...,...
37435,1037393452345028608,"RT @RL4Leisure: ""Lockdown showed the importanc...",NaN,NaN,1482658366451240961,1.482412e+18,retweeted_tweet_without_comment,3.684386e+09,en,United Kingdom
111771,528462234,RT @alcharalambous: Don’t tell me omicron is m...,NaN,NaN,1482667204831334401,1.482405e+18,retweeted_tweet_without_comment,1.946036e+07,en,Canada
80255,1456312777178587138,RT @AntonioMyc00: Coruña canta Libertad. No a ...,NaN,NaN,1482663395451183105,1.482452e+18,retweeted_tweet_without_comment,3.302769e+08,es,NaN
90900,508859323,RT @Incorrectibles: 🔴 ET SI CE SOIR ON DISAIT ...,NaN,NaN,1482664673854038016,1.482602e+18,retweeted_tweet_without_comment,1.061483e+18,fr,NaN
88826,798161712,RT @aginnt: The Netherlands erupts tonight to ...,NaN,NaN,1482664418727145473,1.482574e+18,retweeted_tweet_without_comment,1.847898e+08,en,NaN

In [59]:
df_subset[df_subset["tweet_type"] == "original"]["rt_tweetid"].unique()

array([nan])