In [1]:
import pandas as pd

/Users/vaanigupta/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
df = pd.read_pickle("covid_sample-0.0001.pkl")

In [3]:
df

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
29075,1440152419048955908,1389342585823584263,josephc14074803,Tue Sep 21 03:14:28 +0000 2021,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"A Grateful Dead Head, Not a head that's dead. ...",NaN,NaN,NaN
17272,1347878795554918403,440160509,Iela_Strika,Sat Jan 09 12:12:01 +0000 2021,en,Malaysia--Pahang--Kuantan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38446,1271326636760162304,1022641129655742467,YngShvy,Fri Jun 12 06:21:04 +0000 2020,en,Outerspace,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16418,1279673408905756672,260230964,jennycoady10,Sun Jul 05 07:08:10 +0000 2020,en,"London, England",135989ad972a5d9d,https://api.twitter.com/1.1/geo/id/135989ad972...,city,Bromley,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN
53175,1342267014686109701,281225798,certezamente,Fri Dec 25 00:32:49 +0000 2020,en,Portugal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Portugal,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47554,1453744714730012677,19994423,dfarquha,Thu Oct 28 15:25:23 +0000 2021,en,"Denver, CO",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,Director of Government Affairs at NEHA. Adjunc...,NaN,NaN,NaN
10511,1221572642257481729,1109532876310302721,donkamion78,Sun Jan 26 23:16:28 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161110,1477836631067566081,1285057167884722178,bIuesundae,Mon Jan 03 02:58:04 +0000 2022,en,21 white usa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,how can i make this about shinee? she/her,NaN,NaN,531.0
11663,1496954995488419850,3320990612,JThomasOfficial,Thu Feb 24 21:07:37 +0000 2022,en,AZ,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,This is the official twitter for actor/filmmak...,#OAKLANDFIGHTCLUB #RootedinOakland #Dubnation ...,NaN,2380.0
9549,1338380381398175746,1333862034933428230,idrisdemirsoy,Mon Dec 14 07:08:43 +0000 2020,en,Tallahassee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [4]:
df_main = pd.read_pickle("covid_sample-0.001.pkl")
df_main

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
15605,1220641644367765504,747463650881970176,gareth_grier,Fri Jan 24 09:37:01 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16910,1220640235358281729,937270922234363905,Rose_ifnt,Fri Jan 24 09:31:25 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,Switzerland,NaN,NaN,NaN,Switzerland,NaN,NaN,NaN,NaN,NaN
8796,1220632931489574913,3869545214,SinoVoices,Fri Jan 24 09:02:23 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14795,1220642433127436288,1053953342,_KhairiHassan,Fri Jan 24 09:40:09 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4225,1220640550178762753,1104714610421190656,Gaz60656269,Fri Jan 24 09:32:40 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90900,1482664673854038016,508859323,laudemare,Sun Jan 16 10:42:59 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Compte officiel. Chaque dimanche à 18h en excl...,NaN,3608.0
22201,1482656524245909507,1390529577760530433,Justbob111,Sun Jan 16 10:10:36 +0000 2022,en,Great Britain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,"ex trawlerman, ex forces, now C&I engineer \n\...",NaN,NaN,254.0
81791,1482663571716775936,1464936163123281923,falcon2800,Sun Jan 16 10:38:36 +0000 2022,pt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hmm…🤔,NaN,"ɱσ∂εℓ\n∂เεɦαɾ∂ ƒαɳσƒ_\nรɦαɦɾµҡɦҡɦαɳ ,\nҡเαɾα α...",48.0
88826,1482664418727145473,798161712,KevinSalvat,Sun Jan 16 10:41:58 +0000 2022,en,Surrey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,Cofounder of @joinlincoln + new co. alum: grow...,NaN,3422.0
102639,1482666092438953995,1327585064541106177,claveledith1,Sun Jan 16 10:48:37 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,« Dans la vie on ne fait pas ce que l’on veut ...,NaN,NaN,427.0

In [5]:
df_main.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [8]:
df_main[df_main["lang"] == "en"]

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
15605,1220641644367765504,747463650881970176,gareth_grier,Fri Jan 24 09:37:01 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16910,1220640235358281729,937270922234363905,Rose_ifnt,Fri Jan 24 09:31:25 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,Switzerland,NaN,NaN,NaN,Switzerland,NaN,NaN,NaN,NaN,NaN
8796,1220632931489574913,3869545214,SinoVoices,Fri Jan 24 09:02:23 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14795,1220642433127436288,1053953342,_KhairiHassan,Fri Jan 24 09:40:09 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4225,1220640550178762753,1104714610421190656,Gaz60656269,Fri Jan 24 09:32:40 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37435,1482658366451240961,1037393452345028608,PaisleyMuseum,Sun Jan 16 10:17:55 +0000 2022,en,"Paisley, Scotland",NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,United Kingdom,United Kingdom,NaN,"Paisley Museum, Art Gallery, Observatory & Her...",The official Twitter page for the latest news ...,NaN,1228.0
111771,1482667204831334401,528462234,papascoobfl,Sun Jan 16 10:53:02 +0000 2022,en,"Bradenton, FL",NaN,NaN,NaN,NaN,...,Canada,NaN,NaN,United States,Canada,NaN,NaN,"proud mum, geek, juggling a career and motherh...",NaN,3590.0
17051,1482655886820601861,2720881970,BobyCarsan,Sun Jan 16 10:08:04 +0000 2022,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,How to start your own business from home\nWhy ...,NaN,NaN,2716.0
22201,1482656524245909507,1390529577760530433,Justbob111,Sun Jan 16 10:10:36 +0000 2022,en,Great Britain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,"ex trawlerman, ex forces, now C&I engineer \n\...",NaN,NaN,254.0
88826,1482664418727145473,798161712,KevinSalvat,Sun Jan 16 10:41:58 +0000 2022,en,Surrey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,Cofounder of @joinlincoln + new co. alum: grow...,NaN,3422.0