In [1]:
import pandas as pd

/Users/vaanigupta/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
df = pd.read_pickle("covid_sample-0.0001.pkl")

In [3]:
df

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
29075,1440152419048955908,1389342585823584263,josephc14074803,Tue Sep 21 03:14:28 +0000 2021,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"A Grateful Dead Head, Not a head that's dead. ...",NaN,NaN,NaN
17272,1347878795554918403,440160509,Iela_Strika,Sat Jan 09 12:12:01 +0000 2021,en,Malaysia--Pahang--Kuantan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38446,1271326636760162304,1022641129655742467,YngShvy,Fri Jun 12 06:21:04 +0000 2020,en,Outerspace,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16418,1279673408905756672,260230964,jennycoady10,Sun Jul 05 07:08:10 +0000 2020,en,"London, England",135989ad972a5d9d,https://api.twitter.com/1.1/geo/id/135989ad972...,city,Bromley,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN
53175,1342267014686109701,281225798,certezamente,Fri Dec 25 00:32:49 +0000 2020,en,Portugal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Portugal,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47554,1453744714730012677,19994423,dfarquha,Thu Oct 28 15:25:23 +0000 2021,en,"Denver, CO",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,Director of Government Affairs at NEHA. Adjunc...,NaN,NaN,NaN
10511,1221572642257481729,1109532876310302721,donkamion78,Sun Jan 26 23:16:28 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161110,1477836631067566081,1285057167884722178,bIuesundae,Mon Jan 03 02:58:04 +0000 2022,en,21 white usa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,how can i make this about shinee? she/her,NaN,NaN,531.0
11663,1496954995488419850,3320990612,JThomasOfficial,Thu Feb 24 21:07:37 +0000 2022,en,AZ,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United States,NaN,NaN,This is the official twitter for actor/filmmak...,#OAKLANDFIGHTCLUB #RootedinOakland #Dubnation ...,NaN,2380.0
9549,1338380381398175746,1333862034933428230,idrisdemirsoy,Mon Dec 14 07:08:43 +0000 2020,en,Tallahassee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [5]:
df_main = pd.read_pickle("covid_sample-0.001.pkl")
df_main

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
15605,1220641644367765504,747463650881970176,gareth_grier,Fri Jan 24 09:37:01 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16910,1220640235358281729,937270922234363905,Rose_ifnt,Fri Jan 24 09:31:25 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,Switzerland,NaN,NaN,NaN,Switzerland,NaN,NaN,NaN,NaN,NaN
8796,1220632931489574913,3869545214,SinoVoices,Fri Jan 24 09:02:23 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14795,1220642433127436288,1053953342,_KhairiHassan,Fri Jan 24 09:40:09 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4225,1220640550178762753,1104714610421190656,Gaz60656269,Fri Jan 24 09:32:40 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90900,1482664673854038016,508859323,laudemare,Sun Jan 16 10:42:59 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Compte officiel. Chaque dimanche à 18h en excl...,NaN,3608.0
22201,1482656524245909507,1390529577760530433,Justbob111,Sun Jan 16 10:10:36 +0000 2022,en,Great Britain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,"ex trawlerman, ex forces, now C&I engineer \n\...",NaN,NaN,254.0
81791,1482663571716775936,1464936163123281923,falcon2800,Sun Jan 16 10:38:36 +0000 2022,pt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hmm…🤔,NaN,"ɱσ∂εℓ\n∂เεɦαɾ∂ ƒαɳσƒ_\nรɦαɦɾµҡɦҡɦαɳ ,\nҡเαɾα α...",48.0
88826,1482664418727145473,798161712,KevinSalvat,Sun Jan 16 10:41:58 +0000 2022,en,Surrey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,Cofounder of @joinlincoln + new co. alum: grow...,NaN,3422.0
102639,1482666092438953995,1327585064541106177,claveledith1,Sun Jan 16 10:48:37 +0000 2022,fr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,« Dans la vie on ne fait pas ce que l’on veut ...,NaN,NaN,427.0

In [6]:
df_main.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [26]:
df_subset = df_main[df_main["lang"] == "en"]
df_subset = df_main[df_main["place_country"] == "United States"]
df_subset[["userid", "text", "tweetid", "rt_tweetid", "tweet_type", "rt_userid"]]

,userid,text,tweetid,rt_tweetid,tweet_type,rt_userid
16174,811726983252086784,China Has Not Accepted U.S. Offers to Send CDC...,1222318437785047040,NaN,original,NaN
15175,262431835,I knew k-state was superior! and that’s on cor...,1222319059196436481,NaN,original,NaN
7331,125534675,We received a note Thursday from Luo Daiqing’s...,1220515450695581701,NaN,original,NaN
49382,23781293,@NPR This looks like the movie Outbreak!,1221056407803518977,NaN,reply,NaN
41318,25096956,"Actually, worry about both. One doesn’t dimin...",1222679565169909761,NaN,quoted_tweet,NaN
...,...,...,...,...,...,...
63521,164752952,Now would be a great time for #GeneralStrike,1481662601910231047,NaN,quoted_tweet,NaN
70154,2445700028,Covidiot logic!,1484653374813483012,NaN,quoted_tweet,NaN
5948,2373040398,🙏🏾🙏🏾🙏🏾🙏🏾🙏🏾,1478501971288117259,NaN,quoted_tweet,NaN
178453,35883927,What to look for if you think you have covid,1478516434292588550,NaN,quoted_tweet,NaN
116621,239448774,Hello. Is this not news? @FoxNews @foxnation ...,1483796121512206336,NaN,original,NaN

In [22]:
df_subset[(df_subset["userid"] == 1104714610421190656) | (df_subset["rt_userid"] == 1104714610421190656)]

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
4225,1220640550178762753,1104714610421190656,Gaz60656269,Fri Jan 24 09:32:40 +0000 2020,en,NaN,NaN,NaN,NaN,NaN,...,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN

In [27]:
df_subset

,tweetid,userid,screen_name,date,lang,location,place_id,place_url,place_type,place_name,...,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,description,rt_user_description,qtd_user_description,acc_age
16174,1222318437785047040,811726983252086784,Nars_br,Wed Jan 29 00:39:59 +0000 2020,en,"Texas, USA",e0060cda70f5f341,https://api.twitter.com/1.1/geo/id/e0060cda70f...,admin,Texas,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
15175,1222319059196436481,262431835,addiejoxo,Wed Jan 29 00:42:27 +0000 2020,en,"Kansas, USA",1276a44d783a529d,https://api.twitter.com/1.1/geo/id/1276a44d783...,city,Manhattan,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
7331,1220515450695581701,125534675,RyanFaircloth,Fri Jan 24 01:15:34 +0000 2020,en,"Minneapolis, MN",8e9665cec9370f0f,https://api.twitter.com/1.1/geo/id/8e9665cec93...,city,Minneapolis,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
49382,1221056407803518977,23781293,AlligatorPurse,Sat Jan 25 13:05:08 +0000 2020,en,"Farmington Hills, Michigan",0b40afc99807b6ac,https://api.twitter.com/1.1/geo/id/0b40afc9980...,city,Farmington Hills,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
41318,1222679565169909761,25096956,EvlJunglePrince,Thu Jan 30 00:34:59 +0000 2020,en,Honolulu,c47c0bc571bf5427,https://api.twitter.com/1.1/geo/id/c47c0bc571b...,city,Honolulu,...,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63521,1481662601910231047,164752952,AllFowledUp,Thu Jan 13 16:21:06 +0000 2022,en,NaN,94965b2c45386f87,https://api.twitter.com/1.1/geo/id/94965b2c453...,admin,New York,...,NaN,NY,United States,United States,NaN,United States,"I’m autistic, so if I ask a question, it’s to ...",NaN,Sign up for our newsletters and email alerts: ...,4205.0
70154,1484653374813483012,2445700028,dagimbel,Fri Jan 21 22:25:22 +0000 2022,en,Illinois,ecbe21c16e88f161,https://api.twitter.com/1.1/geo/id/ecbe21c16e8...,city,Northbrook,...,NaN,NaN,Canada,United States,NaN,Canada,NaN,NaN,"Ethics matter. \nNot a fan of corruption, bull...",2838.0
5948,1478501971288117259,2373040398,TheRealErik3,Tue Jan 04 23:01:53 +0000 2022,und,"Houston, TX",1c69a67ad480e1b1,https://api.twitter.com/1.1/geo/id/1c69a67ad48...,city,Houston,...,NaN,NaN,NaN,United States,NaN,NaN,Houston Tx ‼️,NaN,BLESSED #Txsu22,2862.0
178453,1478516434292588550,35883927,dlg31464,Tue Jan 04 23:59:22 +0000 2022,en,NaN,01dda5830937dff8,https://api.twitter.com/1.1/geo/id/01dda583093...,city,Poquonock Bridge,...,NaN,CT,United States,United States,NaN,United States,NaN,NaN,89th Governor of Connecticut. Find a COVID vac...,4635.0
116621,1483796121512206336,239448774,BatJordan,Wed Jan 19 13:38:57 +0000 2022,en,"Charleston, WV",71f2805dd75bc147,https://api.twitter.com/1.1/geo/id/71f2805dd75...,city,Charleston,...,NaN,NaN,NaN,United States,NaN,NaN,"Berkshire Hathaway Commercial Realtor, Investm...",NaN,NaN,4019.0